/* ----------- header -------------*/
/* ----------- header -------------*/
/* ----------- header -------------*/
.header {
  background-color: white;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  #headerButton_ {
    text-align: center;
    padding: 2px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(241, 162, 71);
    cursor: pointer;
  }

  ._inspiration {
    text-align: center;
    padding: 2px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(241, 162, 71);
    cursor: pointer;
  }
}
#headerButton_:hover {
  background-color: rgb(226, 43, 52);
}
._inspiration:hover {
  background-color: rgb(226, 43, 52);
}
/* Menu button */
._dropMenu {
  text-align: center;
  padding: 2px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(241, 162, 71);
  cursor: pointer;
}
._dropMenu:hover {
  background-color: rgb(226, 43, 52);
}
.drop {
  display: none;
  position: absolute;
  height: 100px;
  border-radius: 10px;
  font-size: 25px;
}
._contact {
  cursor: pointer;
}
.github {
  height: 30px;
  width: 50px;
}
/* ----------- extreme drop down -------------*/
._extreme {
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

/* ----------- developer drop down-------------*/
._developer {
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
/* ----------- remove drop down -------------*/
._removeDropDown {
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
._removeDropDown:hover {
  background-color: $mainColor;
}
._extreme:hover {
  background-color: $mainColor;
}
._developer:hover {
  background-color: $mainColor;
}
