@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

$mainColor: #6abe63;
@import "./resets";
@import "./main";
@import "./header";
@import "./frame";

/* ----------- container -------------*/
/* ----------- container -------------*/
/* ----------- container -------------*/
.container {
  background-image: url(https://i.pinimg.com/originals/0e/1b/9b/0e1b9b33820f1c52bd1d086976c90524.jpg);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
a:link,
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
